:root {
  --main: #292966;
  --blue1: #5c5c99;
  --blue2: #a3a3cc;
  --blue3: #ccccff;
  --back: #5c5c991a;
  --loading: #ede8f5;
  --g1: #f2f0ef;
  --g2: #bbbdbc;
  --green: #245f73;
  --brown: #733e24;
}
